@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;
	text-decoration: none;
}

//color extends
// %transp_btn_1 {
// 	@include st_btn;

// 	font-weight: 700;
// 	color: $color_white;
// 	background-color: transparent;
// 	transition: 0.3s ease;
// 	border: 2px solid $color_white;

// 	&:hover {
// 		background-color: $color_white;
// 		color: $color_black;
// 	}
// }

//size extends
// %btn_size_1 {
// 	min-width: 23.2rem;
// 	height: 5.4rem;
// 	padding: 0 2rem;

// 	line-height: 5.4rem;
// 	font-size: 1.6rem;

// 	border-radius: 2px;
// }

// .btn_white_1 {
// 	@extend %white_btn_1;
// 	@extend %btn_size_1;
// }
