@use './helpers/abstracts' as *;

.comments {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 7.9rem;
}

.comments_title {
	margin-bottom: 11rem;
}

.comments__item {
	display: block;
	width: 100%;
	min-width: 67rem;
}

.comments__item_text {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.5;
	text-align: center;
	color: $color_text_2;

	opacity: 50%;
}

//nav

.comments_nav {
	display: flex;
}

.comments_nav__img_w {
	height: 8.6rem;
	width: 8.6rem;
	border-radius: 50%;
	overflow: hidden;
}

.comments_nav__img {
	@extend %cover_img;
}
