@use './helpers/abstracts' as *;

.comments_w {
	position: relative;
	width: 100%;
}

.comments {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 7.9rem;
}

.comments_title {
	margin-bottom: 11rem;
}

.comments__item {
	display: block;
	width: 100%;
}

.comments__item_text {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 3.5;
	text-align: center;
	color: $color_text_2;

	opacity: 50%;
}

//nav

.comments_nav {
	display: flex;
	column-gap: 3rem;
}

.comments_nav__item {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	align-content: center;
	align-items: center;
	height: 21rem;
}

.comments_nav__data {
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	row-gap: 2px;
	text-align: center;

	&.comments_nav__data--remove {
		display: none;
	}
}

.comments_nav__name {
	font-size: 2.4rem;
	font-weight: 700;

	color: $color_title;
	white-space: nowrap;
}

.comments_nav__position {
	color: $color_text;
	font-size: 2rem;
	font-weight: 500;
	white-space: nowrap;
}

.comments_nav__img_w {
	height: 8.6rem;
	width: 8.6rem;
	border-radius: 50%;
	overflow: hidden;
}

.comments_nav__img {
	@extend %cover_img;
}


//decorations

.comments_decoration__one--right {
	position: absolute;
	top: 22.4rem;
	left: 28.02rem;
}

.comments_decoration__one--left {
	position: absolute;
	top: 23rem;
	right: 26.7rem;
	transform: rotate(180deg);
}


.comments_decoration__two--right {
	position: absolute;
	top: 7.2rem;
	left: 20rem;
}


.comments_decoration__two--left {
	position: absolute;
	top: 60rem;
	right: 13rem;
}

