@use './helpers/abstracts' as *;

html {
	// font-size: calc(100dvw / 1920 * 10);

	font-size: 10px;
}

html,
body {
	height: 100%;
	
	font-weight: 400;
	scroll-behavior: smooth;
}

body {
	font-family: $font_1;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

.section {
	width: 100%;
}

.container {
	max-width: 144.4rem;
	width: 100%;

	padding: 0 2rem;
	margin: 0 auto;
}

